[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec="alacritty -e vim" %f
Name="alacritty -e vim"
Comment=Custom definition for "alacritty -e vim"
