*.background:	#121820
*.color0:	#121820
*.color1:	#4A5B69
*.color10:	#515E68
*.color11:	#365F8D
*.color12:	#4C708C
*.color13:	#556299
*.color14:	#4474C7
*.color15:	#a7bdcd
*.color2:	#515E68
*.color3:	#365F8D
*.color4:	#4C708C
*.color5:	#556299
*.color6:	#4474C7
*.color66:	#121820
*.color7:	#a7bdcd
*.color8:	#74848f
*.color9:	#4A5B69
*.foreground:	#a7bdcd
*background:	#121820
*color0:	#121820
*color1:	#4A5B69
*color10:	#515E68
*color11:	#365F8D
*color12:	#4C708C
*color13:	#556299
*color14:	#4474C7
*color15:	#a7bdcd
*color2:	#515E68
*color3:	#365F8D
*color4:	#4C708C
*color5:	#556299
*color6:	#4474C7
*color66:	#121820
*color7:	#a7bdcd
*color8:	#74848f
*color9:	#4A5B69
*foreground:	#a7bdcd
URxvt*background:	[100]#121820
URxvt*borderColor:	[100]#121820
URxvt*cursorColor:	#a7bdcd
URxvt*depth:	32
URxvt*foreground:	#a7bdcd
UXTerm*background:	#121820
UXTerm*cursorColor:	#a7bdcd
UXTerm*foreground:	#a7bdcd
XClock*background:	#121820
XClock*foreground:	#a7bdcd
XClock*hourColor:	rgba:a7/bd/cd/ff
XClock*majorColor:	rgba:a7/bd/cd/ff
XClock*minorColor:	rgba:a7/bd/cd/ff
XClock*minuteColor:	rgba:a7/bd/cd/ff
XClock*secondColor:	rgba:a7/bd/cd/ff
XTerm*background:	#121820
XTerm*cursorColor:	#a7bdcd
XTerm*foreground:	#a7bdcd
emacs*background:	#121820
emacs*foreground:	#a7bdcd
